/*  your css code here. If applicable */
.card{
	margin:20px;
	width:400px;
	height:600px;
	background-color:#F6F1F1;
	text-align:center;
	padding:30px;
	box-shadow: 5px 5px #DDDDDD;
}
p{
	font-size:30px;
}
button{
	width:100px;
	height:40px;
}
	
}